.vs
PayDel.Common/bin
PayDel.Common/obj
PayDel.Data/bin
PayDel.Data/obj
PayDel.Presentation/bin
PayDel.Presentation/obj
PayDel.Repo/bin
PayDel.Repo/obj
PayDel.Services/bin
PayDel.Services/obj
XUTest/bin
XUTest/obj
PayDel.Payment/bin
PayDel.Payment/obj
PayDel.IdServer/bin
PayDel.IdServer/obj
PayDel.Api/bin
PayDel.Api/obj
IdentityTestConsole/bin
IdentityTestConsole/obj